@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

main {
    position: relative;
}

header {
    background-color: black;
    min-height: 150px;
    padding-top: 40px;
    color: white;
    text-align: center;
}
header > p{
    padding: 20px;
}

#imagem1 {
    background-image: url(imagens/background001.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
 
}

#imagem2 {
    background-image: url(imagens/background002.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

article {
    background-color: white;
    min-height: 1400px;
}

article#primeiro-article {
    background-color: white;
    min-height: 750px;
}

.solido {
    max-height: 900px;
    position: relative;
    
}

.translucido, #tlr-1 {
    background-color: rgba(0, 0, 0, 0.288);
    color: white;
    max-width: 550px;
    position: absolute;
    position: relative;
    top:1900px;
    
}

pre {
    font-size: 3em;
    line-height: 80px;
    padding: 50px;
    position: absolute;
}

.normal-text {
    position: absolute;
    top: 40px;
    left: -200px;
}

.text-translucido {
    position: absolute;
    top: 1px;
}

footer {
    background-color: black;
    padding: 5px;
    text-align: center;
    color: white;
    min-height: 10px;
    font-size: 16px;
}