@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Lilita+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Lilita+One&family=Sriracha&display=swap');

:root {
    --fonte01: verdana, geneva, tahoma, sans-serif;
    --fonte02: "Lilita One", sans-serif;
    --fonte03: "Sriracha", cursive;
}
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte02);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
    font-family: var(--fonte01);
}

a {
    color: white;
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 50px;
    font-family: var(--fonte03);
    font-size: 3vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: #0000009a;
    color: white;
}

section.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: #00000046;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}