@charset "UTF-8";

:root {
    --cor01: black;
    --cor02: #00000063;
    --cor03: white;
    
    --fonte01: ;
    --fonte02: ;
}


* {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: var(--cor01) ;
    color: var(--cor03);
    text-align: center;
    padding-top: 40px;
    min-height: 150px;
   
}

header > p{
    font-size: 18px;
    padding-bottom: 40px;
}

header > h1 {
    font-size: 6em;
    padding: 20px;
}

a {
    text-decoration: none;
    color: var(--cor03);
}

a:hover {
    text-decoration: underline;
    color: #d1cfcf4f;
    font-weight: bold;
}

main {
    background-color: var(--cor03);
    margin: auto;
}

#fundo-estatico-1 {
    background-image: url(imagens/background001.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 1200px;
    position: relative;
}

#fundo-estatico-2 {
    background-image: url(imagens/background002.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 1200px;
    position: relative;
   
}

.translucido-imagem{
    height: 1000px;
}

.normal-text {
    background-color: var(--cor03);
    font-size: 3em;
    height: 900px;
    text-align: justify;
    padding: 30px;
    
}

.text-box {
 
    background-color: var(--cor02);
    font-size: 3em;
    color: var(--cor03);
    line-height: 2em;
    width: 500px;
    text-align: left;
    padding: 30px;
    position: absolute;
    left: 100px;
    top: 50px;

}

footer {
    background-color: var(--cor01);
    padding: 10px;
    text-align: center;
    color: var(--cor03);
    min-height: 10px;
    font-size: 16px;
}

