@charset "UTF-8";

:root {
    --cor00:white;
    --cor01:lightgray;
    --cor02:gray;
    --cor03:rgb(56, 56, 56);
    --cor04:black;
    --cor05:rgb(94, 94, 94);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor01);
}

header {
    background-color: var(--cor02);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

span#burguer {
    background-color: rgb(31, 31, 31);
    color: var(--cor00);
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: var(--cor00);
    color: var(--cor04);
}

menu#itens {
    display: none;
}

menu#itens > ul {
    list-style-type: none;
}

menu#itens > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: var(--cor03);
    color: var(--cor00);
    text-align: center;
    border-top:2px solid var(--cor02);
}

menu#itens > ul > li > a:hover {
    background-color: var(--cor05);
}

main {
    width:90vw; 
    background-color: var(--cor00);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article p {
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;
}

article > h2 {
    padding-bottom: 20px;
}